body{
    font-family:arial;
    font-size:12px;
}
.tooltip {
    width:100px;
    position:absolute;
    /*left:0px;
    top:0px;*/
    display:none;
    z-index:1000;
    background-color:#CB5757;
    color:white;
    border: 1px solid #AB4141;
    padding:15px 20px;
    box-shadow: 0px 3px 2px #8D8D8D;
    border-radius: 6px;
}
/* .rolediv{
    border: 1px solid #AB4141;
} */
.close{
  right: 15px;
  position: absolute;
  background: #fff;
  color: #555;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  font-size: 10px;
  cursor:pointer;
}
.ellipse:after{
    content:'';
    position: absolute;
    bottom: 0%;
    left: 5%;
    width: 90%;
    height: 8%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
}

.letter{
    position: fixed;
}

 .role{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
} 